<% @public_recipes.each do |recipe| %>
  <div class="card mb-2">
    <div class="card-body">
      <div class="d-flex justify-content-between mx-4">
        <div class="cols">
          <h5 class="card-title"><%= link_to recipe.name, recipe_path(recipe) %></h5>
          <small>by: <%= recipe.user.name %></small>
        </div>
        <div class="cols">
          <h5 class="card-title">Total food items: <%= recipe.recipe_foods.includes(:food).count %></h5>
          <small>
            <% sum = 0 %>
            <% recipe.recipe_foods.includes(:food).each do |food| %>
              <% sum += food.quantity * food.food.price %>
            <% end %>
            <%= "Total price: $#{sum}" %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
