<h1>My Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <h2><%= link_to recipe.name, recipe %></h2>
    <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } if current_user == recipe.user %>
  </div>
<% end %>

<%= link_to 'New Recipe', new_recipe_path %>
