<h1>My Recipes</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe) %>
      <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'float:right;' if current_user == recipe.user %>
    </li>
  <% end %>
</ul>
