<h1><%= @recipe.name %></h1>

<% if current_user == @recipe.user || @recipe.public %>
  <!-- Recipe details go here -->
  <%= render 'recipe_details', recipe: @recipe %>
<% else %>
  <p>This recipe is private.</p>
<% end %>

<% if current_user == @recipe.user %>
  <%= link_to 'Toggle Privacy', toggle_public_recipe_path(@recipe), method: :patch %>
  <%= link_to 'Add Food', add_food_recipe_path(@recipe) %>
<% end %>
