body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

.notice {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.alert {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
}

.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.recipe h2 {
  font-size: 24px;
}

.recipe p {
  font-size: 20px;
  margin-left: 200px;
}

.field {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox {
  display: inline;
  margin-right: 10px;
}

.actions {
  margin-top: 20px;
}

button,
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #555;
}

.buttons {
  text-align: right;
  margin-top: 20px;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.toggle-button.public {
  background-color: gainsboro;
}

.toggle-button.private {
  background-color: green;
}

.toggle-button:hover {
  background-color: red;
}

.toggle-button.private:hover {
  background-color: green;
}

.names {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.time,
.steps {
  gap: 30px;
  flex-basis: 30%;
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

.time {
  margin-right: 20px;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
}

.btn:hover {
  background-color: #555;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-body {
  padding: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.cols {
  flex: 1;
}

.item-info {
  display: flex;
}

.card-title {
  font-size: 1.5rem;
}

small {
  color: black;
  display: flex;
  font-size: 18px;
  margin-left: 10px;
  align-items: center;
}

.count-value {
  color: #333;
  margin-left: 10px;
}

.new-recipe-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.new-recipe-link:hover {
  background-color: #0056b3;
}

.back-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.back-link:hover {
  background-color: #555;
}
