/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 https://www.freepik.com/free-photos-vectors/recipe-ingredients
 https://img.freepik.com/premium-photo/various-fresh-vegetables-herbs-healthy-eating-concept_51524-4701.jpg?size=626&ext=jpg&ga=GA1.1.1216120637.1695808448&semt=ais
 background-image: url('https://img.freepik.com/free-photo/top-view-fresh-vegetables-various-spices-small-bowls-wooden-spoons-table-free-space_140725-147473.jpg?size=626&ext=jpg&ga=GA1.1.1216120637.1695808448&semt=ais');
 */

   /* background-image: url('https://img.freepik.com/premium-photo/cooking-ingredient-white-table-background_798854-433.jpg?size=626&ext=jpg&ga=GA1.1.1216120637.1695808448&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;*/

